<section style="height: 100vh;   background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);">
    <section class="vh-100 gradient-custom" style="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card  text-white" style="border-radius: 1rem;  backdrop-filter: blur(6px) saturate(117%);
    -webkit-backdrop-filter: blur(6px) saturate(117%);
    background-color: rgba(17, 25, 40, 0.48);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);">
          <div class="card-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 pb-5" > 
            <form action="/login" method="post">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">{{message}}</p>

               <div class="form-outline form-white mb-4">
                <input type="email" name="email" style="color: #e5e1e1; background: transparent; border:solid #112c43; " id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
              <input type="password" name="password" style="color: #e5e1e1; background: transparent; border:solid #112c43; " id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>